* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-1: #1C1C28;
    --color-2: #ECECEC;
    --color-3: #8F90A6;
    --color-4: #4285f4;
    --display: inline-block;
    --nav-height: 55px;
}

html {
    background-color: var(--color-2);
    font-family: 'Open Sans', sans-serif;
    color: var(--color-1);
    font-size: 18px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--color-1);
    margin-bottom: 10px;
}

main {
    flex: 1;
}

.name {
    color: var(--color-2);
    font-size: 20px;
}

.description {
    color: var(--color-2);
    font-size: 15px;
    font-weight: normal;
}

.hamburger {
    display: none;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    padding: 0 10px;
    max-width: 1100px;
    margin: 0 auto;
}

.main-nav__list {
    display: flex;
    gap: 10px;
}

.main-nav__item {
    background-color: var(--color-4);
    border-radius: 6px;
    transition: transform 0.2s ease;
    line-height: 1;
}

.main-nav__item:hover {
    transform: scale(1.1);
}

.main-nav__item:last-child {
    background-color: transparent;
}

.main-nav__item a {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    color: var(--color-2);
    font-size: 15px;
}

.main-nav__item i {
    margin-right: 5px;
}

.social__item {
    display: var(--display);
    font-size: 25px;
    margin: 0 8px;
}

.social__item i {
    color: var(--color-1);
    transition: color 0.2s, transform 0.2s;
}

.social__item:nth-child(1):hover i { color: #0a66c2; }
.social__item:nth-child(2):hover i { color: #6e5494; }
.social__item:nth-child(3):hover i { color: #14171a; }
.social__item:nth-child(4):hover i { color: #ea4335; }

.social__item:hover i {
    transform: scale(1.1);
}

.title {
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 40px;
}

.social, .about, .stack, .js-guide {
    margin-bottom: 100px;
}

.portfolio, .posts {
    margin-bottom: 70px;
}

.portfolio-projects, .posts-articles {
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio-projects li, .posts-articles li {
    display: var(--display);
    margin-bottom: 30px;
}

.portfolio-projects img, .posts-articles img {
    width: 300px;
    aspect-ratio: 4 / 3;
    border-radius: 15px;
    padding: 5px;
}

.portfolio-projects img:hover, .posts-articles img:hover {
    background: linear-gradient(90deg, #45a2ff, #ff8080, #45a2ff, #ff8080);
    background-size: 300% 100%;
    animation: animate-border 1s linear infinite;
}

@keyframes animate-border {
    from {
        background-position: 100% 50%;
    }
    to {
        background-position: 0% 50%;
    }
}

.js-guide {
    max-width: 1000px;
    margin: 0 auto;
}

pre {
    border-radius: 8px;
    margin: 0 !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    font-size: 16px !important;
}

.about p {
    text-align: justify;
    hyphens: auto;
    line-height: 1.6;
    word-spacing: 0.05em;
}

.about p, .stack ul {
    max-width: 800px;
    margin: 0 auto;
}

.stack-title {
    margin-bottom: 15px !important;
}

.stack__item {
    font-size: 16px;
    display: var(--display);
    margin: 25px;
}

.stack__item img {
    height: 50px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

footer {
    padding: 30px 0;
}

footer p {
    color: var(--color-3);
    font-size: 14px;
}

@media (max-width: 604px) {
    .social__item {
        font-size: 23px;
    }

    .portfolio-projects img, .posts-articles img {
        width: 350px;
        height: 263px;
    }
}

@media (max-width: 860px) {
    .about p, .stack ul {
        margin: 0 30px;
    }
}

@media (max-width: 909px) {
    /* .hamburger {
        display: block;
        background: none;
        border: none;
        font-size: 25px;
        color: var(--color-2);
        cursor: pointer;
    }

    .main-nav__list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        margin-right: 5px;
        background-color: var(--color-1);
        right: 0;
        padding: 10px;
        border-radius: 8px;
    }

    .main-nav__list.active {
        display: flex;
    }

    .main-nav__item {
        padding: 20px;
    } */
}

@media (max-width: 1020px) {
    .js-guide {
        margin: 0 10px !important;
    }
}
