* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --text-color: #8F90A6;
    --background-color-1: #ECECEC;
    --background-color-2: #1C1C28;
    --hover-color: #1da1f2;
    --display1: inline-block;
    --display2: flex;
    --display3: grid;
    --cristal-bg: rgba(255, 255, 255, 0.2);
    --cristal-blur: blur(10px);
    --cristal-radius: 30px;
    --cristal-border: 1px solid rgba(255, 255, 255, 0.3);
}

html {
    background-color: var(--background-color-1);
    /* background-color: var(--background-color-2); */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    color: var(--background-color-2);
    font-size: 18px;
    text-align: center;
    /* display: var(--display2); */
    /* justify-content: center; */
}

.main-nav {
    text-align: right;
    background-color: var(--background-color-2);
}

.main-nav__item {
    display: var(--display1);
    padding: 20px 20px;
}

.main-nav:last-child {
    padding-right: 20px;
}

.main-nav__item a {
    color: var(--background-color-1);
}

.main-nav__item a:hover {
    color: var(--hover-color);
    transition: color 0.2s;
}

.name {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 5px;
}

.description {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: var(--cristal-radius);
}

.name-and-description {
    margin: 130px 0;
    /* background-size: cover;
    background-position: center 0; */
}

.social ul {
    width: fit-content;
    margin: 0 auto;
    background-color: var(--cristal-bg);
    backdrop-filter: var(--cristal-blur);
    border-radius: var(--cristal-radius);
    border: var(--cristal-border);
    padding: 10px 15px 12px;
}

.social__item {
    display: var(--display1);
    font-size: 25px;
    margin: 0 10px;
}

.social__item:nth-child(1) i { color: #ea4335; }
.social__item:nth-child(2) i { color: #0a66c2; }
.social__item:nth-child(3) i { color: #6e5494; }
.social__item:nth-child(4) i { color: #14171a; }
.social__item:nth-child(5) i { color: #7cbb00; }

.social__item i:hover {
    transform: scale(1.2);
}

.portfolio, .about, .stack {
    margin-bottom: 100px;
}

.title {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 40px;
}

.portfolio-projects__item {
    display: var(--display1);
}

.portfolio-projects img {
    width: 280px;
    height: auto;
    border-radius: 30px;
    padding: 5px;
}

.portfolio-projects img:hover {
    /* padding: 5px; */
    /* border: 5px solid rgba(255, 255, 255, 0.3); */
    background: linear-gradient(360deg, #33B1FF, #FF3CAC, #784BA0, #33B1FF);
    animation: spin-border 2s linear infinite;
    /* transform: rotate(0deg); */
}

@keyframes spin-border {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.about p, .stack div {
    max-width: 900px;
    margin: 0 auto;
}

.stack ul {
    background-color: var(--cristal-bg);
    backdrop-filter: var(--cristal-blur);
    border-radius: var(--cristal-radius);
    border: var(--cristal-border);
}

.stack__item {
    margin: 30px;
    display: var(--display1);
}

.stack__item img {
    height: 60px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.skills ul {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 50px;
}

.skills__item {
    padding: 16px;
    display: var(--display1);
}

.express img, .github img {
    /* filter: invert(1); */
}

footer {
    height: 60px;
    font-size: 14px;
    align-content: center;
}

footer p {
    color: var(--text-color);
}

@media (max-width: 604px) {
    .portfolio-projects img {
        width: 320px;
    }
}

@media (max-width: 909px) {
    .main-nav {
        text-align: center;
    }
    
    .main-nav:last-child {
        padding-right: 0;
    }
}

@media (max-width: 1000px) {

    .about p, .stack div {
        margin: 0 50px;
    }
    
}

@media (max-width: 1214px) {
    .portfolio-projects img {
        margin-top: 15px;
    }
}
